<body> 

    <div class="container mt-5 mb-3"> 

        <h1 class="text-center" style="padding-bottom: 35px">About</h1>
    
            <p>This Website was created in Coorporation with Dlt-Files! They helped us a lot to setup this site and get everything going!
                The courses are all held by former Harward Graduates that just know the best about every topic and everything there is to know about when it comes to coding.
                Our Tests are also very unique and not like other tests, they test the important things about coding and the lessons that you learn whilst progressing. 
                
            <br/>
    
            We know -- no industry jargon. If you think it makes you sound super smart on your "About Us" page, think again. People want and appreciate straight talk about what your business does. After all, if people can't figure out what you do, how will they know they need your product or service?

            So, skip the industry lingo -- that's what Apptopia does on its "About Us" page. The startup's simple but polished language effectively communicates the company's offering while still allowing the Average Joe to understand it.
            Instead of following the classic "About Us" script and writing a few paragraphs about the company's mission and origins, try something different -- there are plenty of ways to make your brand more compelling to someone who doesn't know about you.

Take Moz, for example. A lot has happened since it was founded in 2004, so the company chose to share those milestones using a fun and clean design that incorporates clear headers, concise blurbs, and little graphics to break up the text.

We especially love the humble references to how Moz received funding, how it switched its brand positioning -- and most importantly, how it switched back to its original model. This speaks volumes to the value honesty and humbleness can play to your customers. Don't be afraid to talk about your ups and downs; your customers will trust what you say that much more.
            <br/>
            Yokel Local does a few things well on their About Us page: They call out who they work with, they tell their story and mission, and they showcase the team behind the brand. This last element is key because Yokel Local knows that their "vibe" wins over prospective clients. After all, when you hire an agency, you're hiring its people. And people have personality.

Because "Yokel Local" is a bit of a kooky name that gives people pause, they poke fun at it by providing the definition, which then leads into photos of the team at work (and at play), the agency's story, their mission and values, and the people who make the magic happen. This magic is included all over the about page as their employees make goofy faces, wear ugly Christmas sweaters, and work/play hard.
            </p>
    
    
    <img src="../../../assets/img/people.jpg">
    
    </div>

</body>


